body {
	background-color: #693D3D  ; 
	margin: 0px;
	font-family: sans-serif;
}



h1 {
	text-align: center;

}


li {
	color: #003B46;
	display: inline;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}
a.menuknop{
    background-color: #505160;
    color: #4CB5F5;
    padding: 14px 35px;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-bottom: 10px;
}


a:hover, a:active {
    background-color: #021C1E;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
	padding-right: 150px;
	padding-left: 150px;
}
h3 {
	text-align: center;
	
}
nav {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #003B46;
	padding-top: 20px;
    padding-bottom: 20px;
}
footer {
	position:fixed;bottom:0;left:0;right:0;height:30px;
	text-align: center;
}
#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  justify-content: center;

		}
#content2 {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
   justify-content: center;

}
.advertentieplaatje {
	width: 300px;
	background-color: black;
}
.nieuwsplaatje {
	width: 300px;
}
article {
	width: 300px;
	
}
td {
		padding: 50px;
}
table {
	margin-left: 500px;
}
aside {
	padding-top: 50px;
}
.nieuwsplaatje2 {
		width: 300px;
		padding-left: 800px;
		align-content: center;
}
.leesmeer {
	color: white;
}
.tekst {
	padding: 0px;
}
.nieuws {
	height: 400px;
	margin: 30px;
}